body,
html {
  background-color: black;
  text-align: center;
  font-family: "Courier New", Courier, monospace;
}

button {
  border: none;
}
.board {
  width: 40%;
}
.game-container {
  display: flex;
  justify-content: space-around;
  height: 75vh;
}
.floor {
  background-color: rgb(233, 229, 229);
  opacity: 1;
  transition: opacity 1s linear;
}

.wall {
  background-color: rgb(183, 184, 192);
  box-shadow: 1px 1px 1px rgb(156, 128, 80);
}

.wall:hover {
  background-color: rgb(156, 128, 80);
}

.best-player {
  font-size: 14px;
  width: 200px;
  background-color: darkcyan;
  position: absolute;
  margin-left: 100px;
  top: 80px;
  left: -80px;
}
.cell {
  width: 4%;
  height: 10px;
}

.main-board {
  width: 100%;
  height: 100%;
  /* position: relative; */
  background-color: rgb(233, 229, 229);
  border-radius: 5px;
}

.instructions {
  font-size: 16px;
  background-color: darkcyan;
  width: 20%;
}

.statistic {
  background-color: darkcyan;
  width: 20%;
  height: 100%;
  font-size: 20px;
}

.statistic .time,
.statistic .score {
  background-color: #73b3b3;
  margin: 10px;
}

img {
  height: 100px;
  width: 300px;
  margin: 2px 0;
}

.arrow {
  padding: 10px;
  margin: 10px 20px 0;
  font-size: 20px;
  background-color: #73b3b3;
  position: relative;
}

button:hover {
  background-color: rgba(190, 207, 221, 0.37);
  cursor: pointer;
}
.next-shape {
  display: flex;
  justify-content: center;
}
.next {
  position: relative;
  background-color: transparent;
  width: 100px;
  height: 90px;
}

.next td {
  border-radius: 2px;
  background-color: transparent;
}

.best-score,
.inst {
  padding: 6px;
  font-size: 15px;
  background-color: #73b3b3;
  position: relative;
}
.pause {
  padding: 7px;
  width: 100px;
  font-size: 15px;
  background-color: #73b3b3;
  position: relative;
}

.modal {
  color: rgba(240, 248, 255, 0.568);
  font-size: 25px;
  width: 400px;
  height: 200px;
  align-items: center;
  background-color: darkcyan;
  position: absolute;
  display: flex;
  flex-direction: column;
}

.hide {
  display: none;
}

.play {
  padding: 10px;
  background-color: #73b3b3;
  color: rgba(21, 22, 22, 0.568);
}

h4 {
  margin: 0;
}

.disappear {
  transition-duration: 1s;
  transition-property: background-color;
  opacity: 1;
}

.full-cell {
  border-radius: 2px;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.7);
}
